*{
    margin: 0px;
    padding:0px;
    font-family:sans-serif;
    font-size: auto;
}

.banner /*wallpaper of website*/
{
   width:100%;
   height:100vh;
   background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)),url("https://th.bing.com/th/id/R.63096d562b743bd428da3be6b1ddfe84?rik=j2zaaH3S1RGMQw&pid=ImgRaw&r=0");
   background-size:cover;
    background-repeat:no-repeat;
    background-position: center;;
} 

.navbar{
    width:85%;
    margin:auto;
    padding:15px px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:120px;
    cursor: pointer;
    padding-right: 10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height:3px;
    width:0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}

.logotxt
{
    font-size: 50px;
    float: right;
    font-family:serif;
    color: rgb(245, 232, 226);
    text-shadow: 4px 4px 4px #362d2d;
}
.content{
    width:100%;
    position:fixed;
    text-align: center;
    color:white;
    top:20%;
    
}


.topban{
    background:rgba(107, 90, 90, 0.7);
    display:flex;
}


p{
    font-size:large;
}

h2{
    color:bisque;
    margin:10px;
    border: 2px solid black;
    background:rgba(170, 150, 150, 0.7);
}

#lists{
    background-color: rgba(95, 79, 79, 0.7);
    content: fixed;
    margin:5%;
    padding-left: -10%;
    border:2px solid black;
}

p a{
    background-color: rgb(79, 69, 126);
    border-radius: 25%;
    font-size: 25px;
    color:rgb(140, 184, 115);
}

ol{
    background-color: #000000;
    padding-left: 10%;
    content:fixed;
    size: inherit;
    color:red;
}