*{
    margin: 0px;
    padding:0px;
    justify-content: centerss;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.banner /*wallpaper of website*/
{
   width:100%;
   height:100vh;
   background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)),url("https://th.bing.com/th/id/R.63096d562b743bd428da3be6b1ddfe84?rik=j2zaaH3S1RGMQw&pid=ImgRaw&r=0");
   background-size:cover;
    background-repeat:no-repeat;
    background-position: center;;
}   

.navbar{
    width:85%;
    margin:auto;
    padding:15px px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:120px;
    cursor: pointer;
    padding-right: 10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height:3px;
    width:0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}

.logotxt
{
    font-size: 50px;
    float: right;
    font-family:serif;
    color: rgb(245, 232, 226);
    text-shadow: 4px 4px 4px #362d2d;
}
.content{
    color:white;

}

.topban{
    background:rgba(107, 90, 90, 0.7);
    display:flex;
}

.butt{
    float:center;
    width:200px;
    padding: 15px ;
    transform: translate(10%);
    margin:20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:white;
    cursor:pointer;
    border-width: 100%;
}

input:hover.butt
{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(132, 238, 150);
}
button:hover{
     border: 2px solid green;
    transition: 0.5s;
    left:0;
    bottom:0;
    border-width: 100%;

}

h1{
    font-size: large;
    font-style: italic;
}

h2{
    transform:translateY(-50px);
    background: #1e2e2c;
    border:2px solid grey;
    border-radius: 25px;
    font-size: 50px;

}



.loginbox input{
    background: #babebe;
    border:2px solid #009688;
    border-radius: 25px; 
    margin-top: 10px;
    font-size: large;

}

.loginbox{
    
    color:white;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(107, 90, 90, 0.7);
    border:2px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin:10px 10px;
    padding-left: 5%;
    padding-right: 5%;
}
