*{
    margin: 0px;
    padding:0px;
    font-family:sans-serif;
}

.banner /*wallpaper of website*/
{
   width:100%;
   height:100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.66)),url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
   background-size:cover;
    background-repeat:no-repeat;
    background-position: center;;
} 

.navbar{
    width:85%;
    margin:auto;
    padding:15px px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1; /* Add this line */
}

.logo{
    width:120px;
    cursor: pointer;
    padding-right: 10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height:3px;
    width:0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}

.logotxt
{
    font-size: 50px;
    float: right;
    font-family:serif;
    color: rgb(245, 232, 226);
    text-shadow: 4px 4px 4px #000000;
}
.content{
    color:white;

}

.topban{
    background:rgba(107, 90, 90, 0.7);
    display:flex;
}


button:hover{
     border: 2px solid green;
    transition: 0.5s;
    left:0;
    bottom:0;
    border-width: 100%;
}
.content{
    width:100%;
    position:absolute;
    top:40%;
    transform:translateY(-50px);
    text-align: center;
    color:white;
    margin-top: -40px;
}

.content h1{
    font-size: 80px;
    margin-top:80px;

}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 30px;
    font-size: 20px;
}

.topban{
    background:rgba(107, 90, 90, 0.7);
    display:flex;
}

div button{
    width:200px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color:white;
    cursor:pointer;
    border-width: 100%;
}

button:hover{
    border: 2px solid green;
    transition: 0.5s;
    left:0;
    bottom:0;
    border-width: 100%;

}

.loginbox{
    font-size:1.5rem;
    color:white;
    position: relative;
    background-color: rgba(107, 90, 90, 0.7);
    border:2px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    z-index: 0; /* Add this line */
    align-items: center;
    float:left;
    margin: 2rem;
}

.loginbox input{
    background: #babebe;
    border:2px solid #009688;
    border-radius: 25px; 
    margin: 0.1rem;
    font-size: 1.5rem;
    padding: 1%;
    width: 50%;
}

table {
        color:white;
        width:30%;
        background-color: rgba(107, 90, 90, 0.7);
        border:2px solid rgb(0, 0, 0);
        border-radius: 25px;
        margin:3.5rem 2rem;
        padding:2%;
        font-size: 3rem;
        float: right;
    }
    table tr td{
        border:2px solid#04201e;
        background: #babebe;
        color:black;
    }
    
    table tr th{
        border:2px solid#104868;
        background: #bebcba;
        color:black;
        position: sticky;
    }
@media (max-width: 600px) {
    .navbar {
        flex-wrap: wrap;
    }
    .navbar ul li {
        margin: 10px 0;
        border: 0.2rem solid rgba(107, 90, 90, 0.7);
    }
    .navbar ul li a{
        border: 0.2rem solid rgba(43, 30, 30, 0.7);
        padding: 5%;
        display: relative;
    }
    .navbar{
        font-size: 25px;
        padding:5%;
    }
    .logo {
       height: 2rem;
       width:2rem;
    }
    .content{
        font-size: 3rem;
    }
    .navbar{
        display:flex;
    }
    .banner{
        height:100%;
        width:100%;
    }
    .logotxt{
            font-size: 2rem;
    }
    .content h1{
        font-size: 3rem;
    }


}