*{
    margin: 0px;
    padding:0px;
    line-height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
}

.canvas{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.66),rgba(0,0,0,0.66)),url("https://th.bing.com/th/id/R.63096d562b743bd428da3be6b1ddfe84?rik=j2zaaH3S1RGMQw&pid=ImgRaw&r=0");
    background-size:cover;
     background-repeat:no-repeat;
     background-position: center;;
    background-attachment: fixed;
    overflow: hidden;
 }  

 .navbar{
    width:85%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:120px;
    cursor: pointer;
    padding-right: 10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: ' ';
    height:3px;
    width:0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}

.logotxt
{
    font-size: 50px;
    float: right;
    font-family:serif;
    color: rgb(245, 232, 226);
    text-shadow: 4px 4px 4px #362d2d;
}
.topban{
    background:rgba(107, 90, 90, 0.7);
    display:flex;
}

.subban{
    background-color: #4b3939;
    border:2px solid rgb(87, 65, 65);
    justify-content: space-between;

}
.subban ul{
    width: 100%;
    display: table;
    table-layout: fixed;
}

.subban ul li{
    list-style: none;
    display: table-cell;
    border:2px solid rgb(87, 65, 65);
    text-align: center;
}

.subban ul li a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: block;
    padding-left: 50px;
}
 
.canvas{
    line-height: 110%;
    font-size:25px;
    overflow: hidden;
}
.ment{
    color:white;
    width:80%;
    background-color: rgba(107, 90, 90, 0.7);
    border:2px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin:10px 10px;
    padding:2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ment input{
    background: #babebe;
    border:2px solid #043833;
    border-radius: 25px; 
    margin: 2px;
    font-size: 25px;
    justify-content: center;
    position:static;
    padding-left: 1%;
}

.ment:hover{
     border:5px solid #009688;      
     background:  rgba(68, 59, 59, 0.7);
}
.ment input:hover{
    border:5px solid #009688;
}

.butt{
    padding:1%;
}

.subban ul li:hover{
    background: linear-gradient(#4b3939,rgba(68, 59, 59, 1));
}

table {
    color:white;
    width:95%;
    background-color: rgba(107, 90, 90, 0.7);
    border:2px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin:10px 10px;
    padding:2%;
}

table caption{
    font-size: 32px;
    background-color: #043833;
    border:2px solid black;
    margin:1%;
}

table tr td{
    border:2px solid#04201e;
    background: #babebe;
    color:black;
}

table tr th{
    border:2px solid#104868;
    background: #bebcba;
    color:black;
    position: sticky;
}

.Viewing{
    overflow-x: scroll;
    height:80%;
    overflow-y: visible;
}

table tr td:hover{
    background-color: white;
    font-size: 25px;
    border:green;
}

.Viewing::-webkit-scrollbar-y{
    display:none;
}

div::-webkit-scrollbar-y{
    display:none;
}

.ment h1{
    font-size: 32px;
    background-color: #043833;
    border:2px solid black;
    
}